<div class="case">
<div class="col-md-4"><p>景点名称</p><input type="text" id="casename{{num}}" value="{{num}}" name="casename{{num}}"></div>
<div class="col-md-4"><p>地点</p><input type="text" id="location{{num}}" name="location{{num}}"></div>
<div class="col-md-4"><p>日期(第几天)</p><input type="text" id="day{{num}}" name="day{{num}}"></div>
<div class="col-md-4"><p>游玩时长</p><input type="text" id="hours{{num}}" name="hours{{num}}"></div>
<div class="col-md-4"><p>景点类型</p><select id="casetype{{num}}" name="casetype{{num}}">
            <option value="food">吃</option>
            <option value="shop">买</option>
            <option value="play" selected>玩</option>
            <option value="view">景</option>
            <option value="live">住</option>
<select>
</div>
<div class="col-md-4"><p>备注</p><input type="text" id="description{{num}}" name="description{{num}}"></div>
<hr />
<span id="newform{{num}}"></span>
</div>
